div.details{
  width: 100%;
  position: relative;
  height: calc(100vh - 276px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.details__container{
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
  }
}


div.details__options{
  margin-top: 24px;
  border-bottom: 8px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 8px;

  > p {
    margin: 8px 0 16px;
  }

  mai-radiobtn {
    margin: 8px;
  }
}

div.details__obs {
  > h6{
    margin: 24px 0;
  }

  margin-bottom: 100px;
}


div.details__stick{
  background: red;
  height: 100%;
}


@media (max-width: 768px){
  div.details{
    height: calc(100vh - 76px);
  }

  div.details__obs {
    margin-bottom: 0px;
  }
}
