div.container-picker {
  padding: 16px;

  header{
    display: flex;
    flex-direction: column;

    h6{
      margin: 0;
      padding: 0;
    }

    h3 {
      font-size: 24px;
      line-height: 36px;
      margin-top: 2px;
    }
  }
}

div.btns-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h6 {
    margin: 0;
    padding: 0;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
