<ap-template-two-columns
  headerLeft="Novo pedido"
  headerRight="Informações para o pedido"
>
    <div class="cart">
     <ap-store></ap-store>
    </div>
    <div class="painel-main">
      <header>
        <p>Preencha as informações abaixo para concluir esta venda.</p>
        <ap-container-progress-bar
          [progress]="progresso"
          [passo]="passo"
        ></ap-container-progress-bar>
        <p>Qual o status do pagamento?</p>
        <mai-radiobtn
          [background]='true'
          [data]="data"
        >
        </mai-radiobtn>
      </header>
    </div>
</ap-template-two-columns>
