<div class="cart" *ngIf="showADDProduct">
    <div class="cart__quantity">
      <button type="button" (click)="removeItem()">
          <img src="../../../../../assets/icons/remove.svg" alt="">
      </button>
      <span>{{quantityItem}}</span>
      <button type="button" (click)="addItem()">
        <img src="../../../../../assets/icons/add.svg" alt="">
      </button>
    </div>

    <div class="cart__add">
      <button type="button">
        <span>Adicionar</span>
        <span>{{total}}</span>
      </button>
    </div>
</div>

