ap-template-one-column header mai-searchbar {
  margin: 24px
}

div.list {

  h6 {
    margin-bottom: 16px;

    span{
      color: rgba(0, 0, 0, 0.54);
    }
  }

  + div.list {
    margin-top: 16px;
  }
}

div.list__item{
  & + div.list__item{
    margin-top: 8px;
  }
}
